
*.o
*.ncb
*.suo
*.manifest
*.pdb
*.ncb
*.user
*.idb
*.ilk
*.swp
*.sdf
*.opensdf
*.ipch
*.cu.deps

Buildlog.*

*/Debug/*.obj
*/Debug/*.exe
*/Debug/*.dep

*/Release/*.exe
*/Release/*.obj
*/Release/*.dep
*/Release/*

*/assimp/test
*/assimp/port
*/assimp/code
*/assimp/contrib
*/assimp/doc
*/assimp/assimp.pc.in
*/assimp/samples
*/assimp/tools
*/assimp/CommandLine.chm
*/assimp/CMakeLists.txt
*/assimp/scripts
*/assimp/workspaces
*/assimp/Documentation.chm

Thumbs.db

Debug/
Release/

UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/

codegen/bin/*
codegen/particles/__pikoCompiledPipe.h
codegen/particles/a.out
codegen/particles/errors.txt
codegen/a.out
codegen/errors.txt